In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import entropy

# Data preparation

In [3]:
df = pd.read_csv('../csv/preprocessed/7_label_blood_sugar.csv')
df

,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),수축기혈압,이완기혈압,...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,BMI
0,1,8,43,170,75,90.0,1.0,1.0,120.0,80.0,...,126.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1.0,26.0
1,1,7,11,180,80,89.0,0.9,1.2,130.0,82.0,...,148.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0.0,24.7
2,1,9,41,165,75,91.0,1.2,1.5,120.0,70.0,...,74.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0.0,27.5
3,1,11,48,175,80,91.0,1.5,1.2,145.0,87.0,...,104.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,0.0,26.1
4,1,11,30,165,60,80.0,1.0,1.2,138.0,82.0,...,117.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165763,2,9,11,170,55,72.0,0.9,0.8,112.0,73.0,...,155.0,13.2,1.0,0.9,14.0,11.0,26.0,3.0,1.0,19.0
1165764,1,13,43,165,65,84.0,0.9,1.2,160.0,90.0,...,140.0,15.2,1.0,1.0,34.0,12.0,78.0,1.0,1.0,23.9
1165765,1,8,31,180,65,77.0,1.2,1.2,123.0,89.0,...,60.0,15.9,1.0,1.0,11.0,8.0,15.0,3.0,1.0,20.1
1165766,1,13,11,155,60,87.0,1.0,1.0,129.0,70.0,...,181.0,16.4,1.0,1.3,65.0,127.0,64.0,3.0,1.0,25.0
1165767,1,13,45,160,70,88.5,1.2,1.0,134.0,96.0,...,63.0,16.1,1.0,1.1,30.0,23.0,53.0,2.0,1.0,27.3

# Calculate entropy

In [4]:
def calc_entropy(df):
    features = list(df.columns)
    features.remove('식전혈당(공복혈당)')

    total = len(df)

    result = []
    for feature in features:
        result.append([feature, entropy(df[[feature, '식전혈당(공복혈당)']].value_counts() / total, base = 2)])
    
    result.sort(key=lambda x: x[1], reverse = True)

    result_df = pd.DataFrame(result, columns=['feature', 'entropy'])

    print('Total data count is ', total)
    print('Init entropy is ', entropy(df['식전혈당(공복혈당)'].value_counts() / total, base = 2))

    plt.bar(result_df['feature'], result_df['entropy'])
    plt.show()

In [ ]:
calc_entropy(df)