In [11]:
import pandas as pd

### !!(주의)해당 파일 경로에 csv/raw, csv/preprocessed 디렉토리를 생성한 후, 실행해주세요

In [1]:
raw_path = '../csv/raw'
preprocessed_path = '../csv/preprocessed'

# 0. Read data

In [13]:
df2017 = pd.read_csv(f'{raw_path}/NHIS_OPEN_GJ_2017_100.csv', encoding='CP949')
df2018 = pd.read_csv(f'{raw_path}/NHIS_OPEN_GJ_2018_100.csv')

# 1. Collapse 2017 and 2018 csv data

In [14]:
df = pd.DataFrame()
df = df.append(df2017)
df = df.append(df2018)

df.reset_index(drop=True, inplace=True)
df.to_csv(f'{preprocessed_path}/1_collapse_data.csv', index=False)
df

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2017,1,1,8,43,170,75,90.0,1.0,1.0,...,40.0,1.0,1.0,1,NaN,NaN,NaN,NaN,1.0,20181126
1,2017,2,1,7,11,180,80,89.0,0.9,1.2,...,27.0,3.0,0.0,1,NaN,NaN,NaN,NaN,2.0,20181126
2,2017,3,1,9,41,165,75,91.0,1.2,1.5,...,68.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126
3,2017,4,1,11,48,175,80,91.0,1.5,1.2,...,18.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0,20181126
4,2017,5,1,11,30,165,60,80.0,1.0,1.2,...,25.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0,20181126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,2018,999996,2,11,41,165,75,84.0,1.2,1.2,...,19.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20191219
1999996,2018,999997,1,7,41,170,75,88.0,2.0,2.0,...,90.0,1.0,1.0,1,0.0,NaN,NaN,NaN,0.0,20191219
1999997,2018,999998,1,8,41,175,80,87.0,1.2,1.2,...,36.0,2.0,1.0,0,NaN,NaN,NaN,NaN,NaN,20191219
1999998,2018,999999,1,11,41,165,70,80.2,0.9,1.2,...,14.0,2.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20191219
1999999,2018,1000000,1,5,47,165,60,70.0,1.5,1.2,...,11.0,1.0,1.0,1,0.0,NaN,NaN,NaN,0.0,20191219

# 2. Drop needless features

In [15]:
needless_features = ['기준년도', '가입자일련번호', '청력(좌)', '청력(우)', '구강검진수검여부', '치아우식증유무', '결손치유무', '치아마모증유무', '제3대구치(사랑니)이상', '치석', '데이터공개일자']

for feature in needless_features:
    del df[feature]

df.reset_index(drop=True, inplace=True)
df.to_csv(f'{preprocessed_path}/2_delete_needless_features.csv', index=False)
df

,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),수축기혈압,이완기혈압,...,HDL콜레스테롤,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부
0,1,8,43,170,75,90.0,1.0,1.0,120.0,80.0,...,48.0,126.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1.0
1,1,7,11,180,80,89.0,0.9,1.2,130.0,82.0,...,55.0,148.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0.0
2,1,9,41,165,75,91.0,1.2,1.5,120.0,70.0,...,41.0,74.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0.0
3,1,11,48,175,80,91.0,1.5,1.2,145.0,87.0,...,76.0,104.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,0.0
4,1,11,30,165,60,80.0,1.0,1.2,138.0,82.0,...,61.0,117.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,2,11,41,165,75,84.0,1.2,1.2,110.0,70.0,...,NaN,NaN,12.2,1.0,0.7,18.0,15.0,19.0,1.0,NaN
1999996,1,7,41,170,75,88.0,2.0,2.0,136.0,88.0,...,NaN,NaN,17.0,1.0,1.0,25.0,36.0,90.0,1.0,1.0
1999997,1,8,41,175,80,87.0,1.2,1.2,162.0,90.0,...,NaN,NaN,16.4,1.0,0.9,21.0,15.0,36.0,2.0,1.0
1999998,1,11,41,165,70,80.2,0.9,1.2,140.0,98.0,...,NaN,NaN,15.7,1.0,1.2,20.0,18.0,14.0,2.0,NaN
1999999,1,5,47,165,60,70.0,1.5,1.2,120.0,80.0,...,NaN,NaN,16.8,1.0,1.0,17.0,12.0,11.0,1.0,1.0

# 3. Drop nan

In [16]:
before_count = len(df)

df.dropna(subset=df.columns, how='any', axis=0, inplace=True)

after_count = len(df)

df.reset_index(drop=True, inplace=True)
df.to_csv(f'{preprocessed_path}/3_drop_nan.csv', index=False)

print('%d rows are deleted since they have nan value' %(before_count - after_count))
df

813084 rows are deleted since they have nan value

,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),수축기혈압,이완기혈압,...,HDL콜레스테롤,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부
0,1,8,43,170,75,90.0,1.0,1.0,120.0,80.0,...,48.0,126.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1.0
1,1,7,11,180,80,89.0,0.9,1.2,130.0,82.0,...,55.0,148.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0.0
2,1,9,41,165,75,91.0,1.2,1.5,120.0,70.0,...,41.0,74.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0.0
3,1,11,48,175,80,91.0,1.5,1.2,145.0,87.0,...,76.0,104.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,0.0
4,1,11,30,165,60,80.0,1.0,1.2,138.0,82.0,...,61.0,117.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186911,2,9,11,170,55,72.0,0.9,0.8,112.0,73.0,...,93.0,155.0,13.2,1.0,0.9,14.0,11.0,26.0,3.0,1.0
1186912,1,13,43,165,65,84.0,0.9,1.2,160.0,90.0,...,62.0,140.0,15.2,1.0,1.0,34.0,12.0,78.0,1.0,1.0
1186913,1,8,31,180,65,77.0,1.2,1.2,123.0,89.0,...,70.0,60.0,15.9,1.0,1.0,11.0,8.0,15.0,3.0,1.0
1186914,1,13,11,155,60,87.0,1.0,1.0,129.0,70.0,...,45.0,181.0,16.4,1.0,1.3,65.0,127.0,64.0,3.0,1.0
1186915,1,13,45,160,70,88.5,1.2,1.0,134.0,96.0,...,42.0,63.0,16.1,1.0,1.1,30.0,23.0,53.0,2.0,1.0

# 4. Drop outliers

In [17]:
before_count = len(df)

df.drop(df[df['허리둘레'] <= 8].index, inplace=True)
df.drop(df[df['허리둘레'] == 999].index, inplace=True)
df.drop(df[df['(혈청지오티)AST'] == 9999].index, inplace=True)
df.drop(df[df['감마지티피'] == 999].index, inplace=True)

after_count = len(df)

df.reset_index(drop=True, inplace=True)
df.to_csv(f'{preprocessed_path}/4_drop_outliers.csv', index=False)

print('%d rows are deleted since they have outlier values' %(before_count - after_count))
df

361 rows are deleted since they have outlier values

,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),수축기혈압,이완기혈압,...,HDL콜레스테롤,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부
0,1,8,43,170,75,90.0,1.0,1.0,120.0,80.0,...,48.0,126.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1.0
1,1,7,11,180,80,89.0,0.9,1.2,130.0,82.0,...,55.0,148.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0.0
2,1,9,41,165,75,91.0,1.2,1.5,120.0,70.0,...,41.0,74.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0.0
3,1,11,48,175,80,91.0,1.5,1.2,145.0,87.0,...,76.0,104.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,0.0
4,1,11,30,165,60,80.0,1.0,1.2,138.0,82.0,...,61.0,117.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186550,2,9,11,170,55,72.0,0.9,0.8,112.0,73.0,...,93.0,155.0,13.2,1.0,0.9,14.0,11.0,26.0,3.0,1.0
1186551,1,13,43,165,65,84.0,0.9,1.2,160.0,90.0,...,62.0,140.0,15.2,1.0,1.0,34.0,12.0,78.0,1.0,1.0
1186552,1,8,31,180,65,77.0,1.2,1.2,123.0,89.0,...,70.0,60.0,15.9,1.0,1.0,11.0,8.0,15.0,3.0,1.0
1186553,1,13,11,155,60,87.0,1.0,1.0,129.0,70.0,...,45.0,181.0,16.4,1.0,1.3,65.0,127.0,64.0,3.0,1.0
1186554,1,13,45,160,70,88.5,1.2,1.0,134.0,96.0,...,42.0,63.0,16.1,1.0,1.1,30.0,23.0,53.0,2.0,1.0

# 5. Drop invalid total cholesterols

In [22]:
df = pd.read_csv(f'{preprocessed_path}/4_drop_outliers.csv')

In [24]:
before_count = len(df)

weight = 0.1
length = df.shape[0]
invalid_cholesterol_idx = []
for idx in range(length):
    calculated = df.iloc[idx, 13] + df.iloc[idx, 14] + (df.iloc[idx, 12] / 5)
    total = df.iloc[idx, 11]
    if (total < (1 - weight) * calculated
            or (1 + weight) * calculated < total):
        invalid_cholesterol_idx.append(idx)

df = df.iloc[df.index.drop(invalid_cholesterol_idx)]

after_count = len(df)

df.reset_index(drop=True, inplace=True)
df.to_csv(f'{preprocessed_path}/5_drop_invalid_cholesterol.csv', index=False)

print('%d rows are deleted since they have invalid cholesterol values' %(before_count - after_count))
df

20669 rows are deleted since they have invalid cholesterol values

,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),수축기혈압,이완기혈압,...,HDL콜레스테롤,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부
0,1,8,43,170,75,90.0,1.0,1.0,120.0,80.0,...,48.0,126.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1.0
1,1,7,11,180,80,89.0,0.9,1.2,130.0,82.0,...,55.0,148.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0.0
2,1,9,41,165,75,91.0,1.2,1.5,120.0,70.0,...,41.0,74.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0.0
3,1,11,48,175,80,91.0,1.5,1.2,145.0,87.0,...,76.0,104.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,0.0
4,1,11,30,165,60,80.0,1.0,1.2,138.0,82.0,...,61.0,117.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165881,2,9,11,170,55,72.0,0.9,0.8,112.0,73.0,...,93.0,155.0,13.2,1.0,0.9,14.0,11.0,26.0,3.0,1.0
1165882,1,13,43,165,65,84.0,0.9,1.2,160.0,90.0,...,62.0,140.0,15.2,1.0,1.0,34.0,12.0,78.0,1.0,1.0
1165883,1,8,31,180,65,77.0,1.2,1.2,123.0,89.0,...,70.0,60.0,15.9,1.0,1.0,11.0,8.0,15.0,3.0,1.0
1165884,1,13,11,155,60,87.0,1.0,1.0,129.0,70.0,...,45.0,181.0,16.4,1.0,1.3,65.0,127.0,64.0,3.0,1.0
1165885,1,13,45,160,70,88.5,1.2,1.0,134.0,96.0,...,42.0,63.0,16.1,1.0,1.1,30.0,23.0,53.0,2.0,1.0

# 6. Calculate BMI

In [19]:
weight = df['체중(5Kg단위)']
height = df['신장(5Cm단위)']
df['BMI'] = round(weight / (height * height / 10000), 1)

df.to_csv(f'{preprocessed_path}/6_calculate_BMI.csv', index=False)
df

<ipython-input-19-f68b8a9b7ad6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BMI'] = round(weight / (height * height / 10000), 1)

,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),수축기혈압,이완기혈압,...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,BMI
0,1,8,43,170,75,90.0,1.0,1.0,120.0,80.0,...,126.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1.0,26.0
1,1,7,11,180,80,89.0,0.9,1.2,130.0,82.0,...,148.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0.0,24.7
2,1,9,41,165,75,91.0,1.2,1.5,120.0,70.0,...,74.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0.0,27.5
3,1,11,48,175,80,91.0,1.5,1.2,145.0,87.0,...,104.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,0.0,26.1
4,1,11,30,165,60,80.0,1.0,1.2,138.0,82.0,...,117.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165881,2,9,11,170,55,72.0,0.9,0.8,112.0,73.0,...,155.0,13.2,1.0,0.9,14.0,11.0,26.0,3.0,1.0,19.0
1165882,1,13,43,165,65,84.0,0.9,1.2,160.0,90.0,...,140.0,15.2,1.0,1.0,34.0,12.0,78.0,1.0,1.0,23.9
1165883,1,8,31,180,65,77.0,1.2,1.2,123.0,89.0,...,60.0,15.9,1.0,1.0,11.0,8.0,15.0,3.0,1.0,20.1
1165884,1,13,11,155,60,87.0,1.0,1.0,129.0,70.0,...,181.0,16.4,1.0,1.3,65.0,127.0,64.0,3.0,1.0,25.0
1165885,1,13,45,160,70,88.5,1.2,1.0,134.0,96.0,...,63.0,16.1,1.0,1.1,30.0,23.0,53.0,2.0,1.0,27.3

# 7. Label blood sugar

In [20]:
df.loc[df['식전혈당(공복혈당)'] < 126, '식전혈당(공복혈당)'] = 0
df.loc[df['식전혈당(공복혈당)'] >= 126, '식전혈당(공복혈당)'] = 1

df.to_csv(f'{preprocessed_path}/7_label_blood_sugar.csv', index=False)
df

/home/seonghoon/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/home/seonghoon/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),수축기혈압,이완기혈압,...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,BMI
0,1,8,43,170,75,90.0,1.0,1.0,120.0,80.0,...,126.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1.0,26.0
1,1,7,11,180,80,89.0,0.9,1.2,130.0,82.0,...,148.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0.0,24.7
2,1,9,41,165,75,91.0,1.2,1.5,120.0,70.0,...,74.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0.0,27.5
3,1,11,48,175,80,91.0,1.5,1.2,145.0,87.0,...,104.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,0.0,26.1
4,1,11,30,165,60,80.0,1.0,1.2,138.0,82.0,...,117.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165881,2,9,11,170,55,72.0,0.9,0.8,112.0,73.0,...,155.0,13.2,1.0,0.9,14.0,11.0,26.0,3.0,1.0,19.0
1165882,1,13,43,165,65,84.0,0.9,1.2,160.0,90.0,...,140.0,15.2,1.0,1.0,34.0,12.0,78.0,1.0,1.0,23.9
1165883,1,8,31,180,65,77.0,1.2,1.2,123.0,89.0,...,60.0,15.9,1.0,1.0,11.0,8.0,15.0,3.0,1.0,20.1
1165884,1,13,11,155,60,87.0,1.0,1.0,129.0,70.0,...,181.0,16.4,1.0,1.3,65.0,127.0,64.0,3.0,1.0,25.0
1165885,1,13,45,160,70,88.5,1.2,1.0,134.0,96.0,...,63.0,16.1,1.0,1.1,30.0,23.0,53.0,2.0,1.0,27.3

In [21]:
df.head(3)

,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),수축기혈압,이완기혈압,...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,BMI
0,1,8,43,170,75,90.0,1.0,1.0,120.0,80.0,...,126.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1.0,26.0
1,1,7,11,180,80,89.0,0.9,1.2,130.0,82.0,...,148.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0.0,24.7
2,1,9,41,165,75,91.0,1.2,1.5,120.0,70.0,...,74.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0.0,27.5